<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="potato">
            <h2><span jhiTranslate="testerApp.potato.detail.title">Potato</span> {{potato.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="testerApp.potato.shape">Shape</span></dt>
                <dd>
                    <span>{{potato.shape}}</span>
                </dd>
                <dt><span jhiTranslate="testerApp.potato.size">Size</span></dt>
                <dd>
                    <span>{{potato.size}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/potato', potato.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
